@model UserProductAndOfferVM
@{
	ViewData["Title"] = "GetAllOfferedUserProducts";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="section-products">
	<div class="container">
		<div class="row">
			<div class="col-sm-3 text-center">
				<br />
				<br />
				<ul class="row-md-3 nav prod-cat">
					<a class="fa fa-angle-right" asp-controller="MyAccount" asp-action="Index" role="button">
						Ürünlerim
					</a>
				</ul>
				<br />
				<ul class="row-md-3 nav prod-cat">
					<a class="fa fa-angle-right" asp-controller="MyAccount" asp-action="GetAllProductsOfferedByUser" role="button">
						Verilen Teklifler
					</a>
				</ul>
				<br />
				<ul class="row-md-3 nav prod-cat">
					<a class="fa fa-angle-right" asp-controller="MyAccount" asp-action="GetAllOfferedUserProducts" role="button">
						Alınan Teklifler
					</a>
				</ul>
				<br />
			</div>
			<div class="col-lg-9">
				<br />
				<br />
				@if (Model.Products.Count() > 0)
				{
					@for (int i = 0; i < Model.Products.Count(); i += 2)
					{
						<div class="row">
							@foreach (var product in Model.Products.Skip(i).Take(2))
							{
								<div class="col-md-6 portfolio-item">

									<div class="d-flex justify-content-between align-items-center ">
										<div class="mt-2">
											<h4 class="text-uppercase">@product.Name</h4>
											<div class="mt-2">
												<h5 class="text-uppercase mb-0">@product.Brand</h5>
												<h6 class="main-heading mt-0">@product.UserName</h6>
												<h6 class="main-heading mt-0">@product.Price</h6>
											</div>
										</div>
										<div class="image">
											<img src="@Url.Content("/uploadedFiles/Images/" + product.ImageUrl)" height="200" />
										</div>
									</div>

									<div class="d-flex justify-content-between align-items-center mt-2 mb-2">
										<span>Renk : @product.Color</span>
									</div>


									<p>@product.UsingStatus</p>
									<p>@product.Description</p>

									@{
										var userOffers = Model.Offers.Where(o => o.ProductId == product.Id);
									}
									@if (userOffers != null)
									{
										@foreach (var offer in userOffers)
										{
											<p>Yapılan Teklif : @offer.OfferPrice</p>

											@if (product.IsSold)
											{
												<p class="text-primary">Ürün satıldı.</p>
											}
											else
											{
												if (offer.OfferApproved)
												{
													<p class="text-primary">Teklif Onaylandı. Satın alma işlemi bekleniyor.</p>
												}
												else
												{
													<a class="btn btn-danger" asp-controller="Offers" asp-action="ApproveOffer" asp-route-id="@offer.Id" role="button">
														Teklif Onayla
													</a>
													<a class="btn btn-danger" asp-controller="Offers" asp-action="DeclineOffer" asp-route-id="@offer.Id" role="button">
														Teklif Reddet
													</a>
												}
											}
											<br />
										}
									}
									else
									{
										<div class="d-flex justify-content-between align-items-center mt-2 mb-2">
											<p class="text-primary">Bu ürüne ait bir teklif bulunmamakta.</p>
										</div>
									}

									<div class="form-group">
										@Html.Raw(TempData["ErrorMessages"])
									</div>
								</div>
							}
						</div>
						<br />
						<br />
					}
				}
				else
				{
					<div class="d-flex justify-content-between align-items-center mt-2 mb-2">
						<p class="text-primary">Kullanıcının ürünlerine ait bir teklif bulunmamakta.</p>
					</div>
				}

			</div>

		</div>
	</div>
</section>

